# Logs
*.log

# Dependency directories
node_modules

# Serverless Webpack directories
.webpack

# dotenv environment variable files
.env
.env.deploy
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDE
.idea
.vscode
.vs
